#root {
  max-width: 1280px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

label {
  justify-content: space-between;
  align-items: baseline;
}

input {
  height: 2rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(78, 76, 79);
}

ul {
  padding-left: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.page-container {
  gap: 2rem;
  margin: 0rem;
  padding: 0rem;
}

.sidebar {
  width: 35rem;
  background-color: rgb(47, 47, 49);
}

.sidelabel--optional,
.sidelabel--recommended {
  color: rgb(140, 121, 121);
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 0.25rem;
}

.collapsible-section {
  margin: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: border-radius 0.3s ease-in-out;
}

.collapsible-section.open .collapsible-header {
  border-radius: 5px 5px 0 0;
}

.collapsible-section.open .collapsible-content {
  opacity: 1;
  border-radius: 5px;
}

.collapsible-header {
  background-color: rgb(59, 59, 62);
  padding: 10px;
  width: 100%;
  text-align: left;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.chevron {
  transition: transform 0.2s ease-in-out;
}

.chevron.open {
  transform: rotate(180deg);
}

.collapsible-content {
  gap: 1rem;
  padding: 10px;
  background-color: rgb(59, 59, 62);
  opacity: 0;
  overflow: hidden;
}

.reorder-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry-btn {
  background-color: rgb(77, 77, 80);
  box-shadow: 1px 1px 3px rgb(35, 34, 34);
  padding: 0.5rem;
  border-radius: 0.66rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.entry-btn:hover {
  background-color: rgb(82, 88, 85);
}

.drag-handle {
  font-size: 1.2rem;
  padding-right: 8px;
  cursor: grab !important;
}

.drag-handle:active {
  cursor: grabbing !important;
}

.add-section-btn {
  background-color: rgb(70, 85, 76);
  width: 100%;
}

.personal-info-form {
  margin: 1rem;
  padding: 1.5rem;
  gap: 0.5rem;
  border-radius: 0.66rem;
  background-color: rgb(59, 59, 62);
}

.experience-info--form,
.education-info--form {
  gap: 1rem;
  margin: 0.3rem;
}

.form-control-btns {
  justify-content: space-between;
  margin-top: 1rem;
}

.resume-container {
  margin: 4rem;
  padding-inline: 8mm;
  height: 297mm;
  width: 210mm;
  background-color: white;
  color: black;
  border: 1px solid rgb(148, 149, 149);
}

.resume-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.resume-contact {
  gap: 1rem;
  grid-column: 1;
  grid-row: span 2;
}

.resume-section {
  margin-top: 2rem;
  grid-column: 2;
}
