.sidebar {
  width: 35rem;
  background-color: rgb(47, 47, 49);
}

.sidelabel--optional,
.sidelabel--recommended {
  color: rgb(140, 121, 121);
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 0.25rem;
}

.layout-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.layout-button {
  border: 2px solid transparent;
  background: none;
  padding: 5px;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  text-align: center;
}

.layout-button img {
  width: 80px; /* Adjust size */
  height: auto;
  border-radius: 5px;
}

.layout-button.selected {
  border-color: rgb(140, 121, 121);
}

.collapsible-section {
  margin: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: border-radius 0.3s ease-in-out;
}

.collapsible-section.open .collapsible-header {
  border-radius: 5px 5px 0 0;
}

.collapsible-section.open .collapsible-content {
  opacity: 1;
  border-radius: 5px;
}

.collapsible-header {
  background-color: rgb(59, 59, 62);
  padding: 10px;
  width: 100%;
  text-align: left;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.chevron {
  transition: transform 0.2s ease-in-out;
}

.chevron.open {
  transform: rotate(180deg);
}

.collapsible-content {
  gap: 1rem;
  padding: 10px;
  background-color: rgb(59, 59, 62);
  opacity: 0;
  overflow: hidden;
}

.reorder-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry-btn {
  background-color: rgb(77, 77, 80);
  box-shadow: 1px 1px 3px rgb(35, 34, 34);
  padding: 0.5rem;
  border-radius: 0.66rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.entry-btn:hover {
  background-color: rgb(82, 88, 85);
}

.drag-handle {
  font-size: 1.2rem;
  padding-right: 8px;
  cursor: grab !important;
}

.drag-handle:active {
  cursor: grabbing !important;
}

.add-section-btn {
  background-color: rgb(140, 121, 121);
  width: 100%;
}

.personal-info-form {
  margin: 1rem;
  padding: 1.5rem;
  gap: 0.5rem;
  border-radius: 0.66rem;
  background-color: rgb(59, 59, 62);
}

.experience-info--form,
.education-info--form {
  gap: 1rem;
  margin: 0.3rem;
}

.form-control-btns {
  justify-content: space-between;
  margin-top: 1rem;
}
